@import '../variables_course.scss';

@font-face {
    font-family: 'ProximaNovaBold';
    src: url(../fonts/ProximaNova-Bold.ttf);
    font-size: 16px; 
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaExtrabld';
    src: url(../fonts/ProximaNova-Extrabld.ttf);
    font-size: 24px;
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-size: 16px;
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url(../fonts/ProximaNova-Semibold.ttf);
    font-size: 16px;
    color: $dark;
}
@font-face {
    font-family: 'Intro';
    src: url(../fonts/Intro.otf);
}

* {
    padding: 0;
    margin: 0;
}

ul, a, li {
    text-decoration: none;
    list-style: none;
    color: black;   
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1160px;
}

.title_screen {
  position: relative;
  z-index: 2;
  // min-height: 60vh;
  padding-top: 120px;
  background: url(img/poncik_sooqa.png) no-repeat;
  background-size: cover;
  background-color: #56C3E0;
  overflow: hidden;
  .stripe {
      position: relative;
      width: 30%;
      border-radius: 0px 3px 3px 0px;
      // margin-top: 80px;
      padding: 20px 30px 20px 10%;
      left: 0;
      background-color: $dark;
      
      h1 {
          font-family: 'Intro';
          font-size: 2.5em;
          font-weight: normal;
          color: #fff;
      }
  }
  .container {
      position: relative;
      .title_text {
          margin: 20px 0 60px 0;
          width: 400px;
          font-family: 'ProximaNovaBold';
          color: $dark;
      }
  }
}
@media screen and (max-width: 1200px) {
  .title_screen {
      .stripe {
          width: 60%;
      }
  }
}
@media screen and (max-width: 480px) {

  .title_screen {
      .stripe {
          width: 75%;
          h1 {
              font-size: 28px;
          }
      }
      .container {
          width: 90%;
          .title_text {
              position: relative;
              width: 90%;
          }
          .progress_text {
              margin-bottom: 0;
          }
      }
      .title_bottom_text {
          margin: 0 0 10px 5%;
          position: relative;
      }
  }
}