@import '../variables_course.scss';

@font-face {
    font-family: 'ProximaNovaBold';
    src: url(../fonts/ProximaNova-Bold.ttf);
    font-size: 16px; 
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaExtrabld';
    src: url(../fonts/ProximaNova-Extrabld.ttf);
    font-size: 24px;
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-size: 16px;
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url(../fonts/ProximaNova-Semibold.ttf);
    font-size: 16px;
    color: $dark;
}
@font-face {
    font-family: 'Intro';
    src: url(../fonts/Intro.otf);
}

* {
    padding: 0;
    margin: 0;
}

ul, a, li {
    text-decoration: none;
    list-style: none;
    color: black;   
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1160px;
}
header {
  position: relative;
  // width: 100%;
  z-index: 5;
  .karpachoff_logo {
      padding: 0px 0;
  }
  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .burger_menu {
          display: none;
      }
      ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
              padding: 30px 0 30px 0;
              margin: 0 20px 0 20px;
              font-family: 'ProximaNovaBold';
              border-bottom: 3px solid #fff;
              box-sizing: border-box;
              transition: all .1s;

              &:hover {
                  border-bottom: 3px solid #FC890D;
              }

              &:nth-child(4) {
                  display: inline-flex;
                  // justify-content: space-between;
                  align-items: center;

                  img {
                      padding-right: 10px;
                  }
              }
          }   
      }
  }
}

@media screen and (max-width: 780px) {
  header {
      .container {
          ul {
              display: none;
          }
          .burger_menu {
              padding: 30px 0 30px 0;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              height: 16px;
              cursor: pointer;
              transition: all 0.2s;
              transform: scale(1);

              .burger_menu_element {
                  background-color: #222B3A;
                  width: 23px;
                  height: 2px;

              }
              .burger_menu_element_bottom {
                  background-color: #222B3A;
                  width: 18px;
                  height: 2px;

              }
              .nav_in_burger {
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  overflow: hidden;
                  width: 150px;
                  background-color: rgba(120,189,226, 0.5);
                  border-radius: 5px;
                  transform: scale(0) translate(0px, -200px);
                  transition: all 0.2s;

                  a {
                      
                      padding: 20px 0 20px 0;
                      margin: 0 20px 0 20px;
                      font-family: 'ProximaNovaBold';
                      box-sizing: border-box;
                      transition: all .1s;
      
                      &:hover {
                          border-bottom: 3px solid #FC890D;
                      }
                  }
              }
              &:hover {
                  .nav_in_burger {
                      transform: scale(1) translate(-100px, 5px);
                  }
              }

          }
      }
  }
}