@import '../../variables_course.scss';

@font-face {
    font-family: 'ProximaNovaBold';
    src: url(../../fonts/ProximaNova-Bold.ttf);
    font-size: 16px; 
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaExtrabld';
    src: url(../../fonts/ProximaNova-Extrabld.ttf);
    font-size: 24px;
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url(../../fonts/ProximaNova-Regular.ttf);
    font-size: 16px;
    color: $dark;
}
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url(../../fonts/ProximaNova-Semibold.ttf);
    font-size: 16px;
    color: $dark;
}
@font-face {
    font-family: 'Intro';
    src: url(../../fonts/Intro.otf);
}

* {
    padding: 0;
    margin: 0;
}

ul, a, li {
    text-decoration: none;
    list-style: none;
    color: black;   
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1160px;
}

.under_main_screen {
    background-color: #FAFAFA;
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        a {
            font-family: 'ProximaNovaBold';
            color: #979FAD;
            padding: 15px 20px;
            opacity: 1;
            transition: all 0.4s;

            &:hover {
                color: $black;
                opacity: 0.7;
            }
            &:nth-last-of-type(1) {
                color: $black;
                &:hover {
                    color: #000;
                    opacity: 1;
                }
            }
        }
        .short_line {
            height: 2px;
            width: 22px;
            background-color: #979FAD;
        }
    }
}

@media screen and (max-width: 780px) {
    .under_main_screen {
        display: none;
    }
}